<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
{% extends "apps/base.html"%}

{% block content %}

  <p>Topic: {{ topic }}</p>

  <p>Entiries:</p>
  <p>
      <a href="{% url 'apps:new_entry' topic.id %}">add new entry</a>
  </p>
  <ul>
      {% for entry in entries %}
      <li>
          <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
          <p>{{ entry.text|linebreaks }}</p>
          <p><a href="{% url 'apps:edit_entry' entry.id %}">edit entry</a></p>
      </li>
      {% empty %}
      <li>
          There are no entries for this topic yet.
      </li>
      {% endfor %}
  </ul>

{% endblock content %}
</body>
</html>